body {
    background-color: lightgreen;
}
h1 {
    text-align: center;
    color: blue;
    font-size: 28px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
ul {
    font-weight: bold;
    color: brown;
}
img {
    border: 3px, dotted, black;
}